// menu main button
.fa-bars {
  margin: 5px;
  color: #282523;
  font-size: 2rem;
  transform: rotate(-90deg);
  cursor: pointer;

}
// menu exit button
.fa-times{
  color:white;
  font-size: 2rem;
  cursor: pointer;
}
// caret button
.fa-caret-square-down{
  color: white;
  padding-left:10px;
  cursor: pointer;
}
// Menu styling
$bp-mobile: 300px;
$bp-tablet: 660px;
.menu {
  display: flex;
  align-items: start;
  position: absolute;
  width: 100%;
  left: -100%;
  @media (max-width: $bp-mobile){
    left: -$bp-mobile;
  }
  @media (max-width: $bp-tablet){
    left: -$bp-tablet;
  }
  top: 0;
  background-color: #fff;
  padding: 5px;
  &__list{
    &__item{
      &__link{
        cursor: pointer;
        color: #ddd;
      }
    }
  }
  &__exitButton{
    width: 100%;
    text-align: right;
    padding-right: 10px;
  }
}
// font size for menu primary
.primary {
  font-size: 1.5rem;
}
.secondary {
  font-size: 1.2rem;
}
// to hide an element
.hidden{
  display: none;
  visibility: hidden;
}
