{% extends 'base.html.twig' %}

{% block title %}Hello PagesController!{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/pages/equalizer.css') }}">
{% endblock %}
{% block body %}

    <div id="equalizer">
    e
    </div>


{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/pages/equalizer.js') }}"></script>
{% endblock %}
