{% extends 'base.html.twig' %}

{% block title %}Hello PagesController!{% endblock %}
{% block stylesheets %}
{{ parent() }}
{% endblock %}
{% block body %}

    <p>test</p>
{% endblock %}
{% block javascripts %}
{{ parent() }}
{% endblock %}
