{% extends 'base.html.twig' %}

{% block title %}Hello PagesController!{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/pages/prime_numbers.css') }}">
{% endblock %}
{% block body %}

    <div class="equalizerClass" id="equalizer">

    </div>


{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/pages/prime_numbers.js') }}"></script>
{% endblock %}
