// Menu Button styling
.fa-landmark{
  border: 2px solid #333;
  border-radius: 0 15px 15px 0;
  background-color: #444444;
  padding: 6px 9px 6px 3px;
  color: #eef;
  cursor: pointer;
}
// Menu Close styling
.fa-times-circle{
  cursor: pointer;
  color: yellow;
  margin-left: 50px;
  margin-bottom: 20px;
  font-size: 3rem;
}
// Menu Object styling
.menu{

  display: flex;
  flex-direction: column;
  align-items: self-start;
}
.menuObject{
  background-color: #222;
  border: 2px solid #111;
  border-radius: 0 15px 15px 0;
  &__list{
    margin: 10px 15px 10px 30px;
    &__item{
      list-style: none;
      &--link{
        font-size: 3rem;
        color: #aaa;
        text-decoration: none;
        text-transform: uppercase;
      }
    }
  }
}


// universal class to hide and remove object from DOM
.hidden{
  visibility: hidden;
  display: none;
}
