body {
  background-color: #396a7a;
}

.equalizerClass {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: wrap;

}
.box1{
  border: 3px groove #396a7a;
  border-radius: 15px;
  font-size: 2rem;
  padding: 15px;
  margin: 5px;

}
