body {
  background-color: #396a7a;
}
.book {
  margin-top: 20px;
  &__item{
    padding: 3px;
    border: 3px double #eee;
    background-color: #ccc;
    border-radius: 5px;
    max-width: 150px;
    margin: 10px 10px;
  }
  &__title{
    text-transform: uppercase;
    font-size: 1rem;
    text-align: center;
  }
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  &__img{
    width:100%;

  }
}
