<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Shop{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/shop/shop.css') }}">
    {% endblock %}
    <script src="https://kit.fontawesome.com/c13354403e.js" crossorigin="anonymous"></script>

</head>
<body>
{% block body %}
{% endblock %}
{% block javascripts %}

    <script src="{{ asset('js/shop/shop.js') }}"></script>
{% endblock %}
</body>
</html>
